@font-face {
  font-family: 'Top Secret Stamp';
  src: url(Top-Secret-Stamp.ttf);
}
body{
  font-family: 'Top Secret Stamp';
  font-size: larger;
}

button {
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
  }
button:hover {
    background-color: red;
    text-decoration: underline;
  }